<footer class="footer">
  <small>
    Entera Magica Online via
    <a href="#">Corona Online Experience LLC.</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      
    </ul>
  </nav>
</footer>